@font-face {
    font-family: 'modam';
    src: url(font/modam.ttf);
}

@font-face {
    font-family: 'amir';
    src: url(font/Shabnam-Thin.woff2);
}

@font-face {
    font-family: 'Light';
    src: url(font/Shabnam-Light.woff);
}