@import "tailwindcss";
@import "@fontsource/sofia";
@import './fontface.css';


@theme{
    --breakpoint-3xl: 1922px;
    --breakpoint-1xl: 1424px;
    --breakpoint-xs: 540px;
}

.font-sofia{
    font-family: "Sofia";
}

.font-modam{
    font-family: 'modam';
}

.font-shabnam{
    font-family: 'amir';
    font-weight: bold;
}

.Light{
    font-family: 'Light';
}






